/* styles.css */

.root {
    -fx-background-color: #121212;
    -fx-font-family: 'Arial', sans-serif;
    -fx-padding: 20;
}

.song-title {
    -fx-font-size: 24px;
    -fx-text-fill: white;
}

.song-artist, .song-album, .song-genre {
    -fx-font-size: 18px;
    -fx-text-fill: lightgray;
}

.control-button {
    -fx-background-color: #1DB954;
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-background-radius: 50%;
    -fx-padding: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
    -fx-min-width: 60px;
    -fx-min-height: 60px;
}

.control-button:hover {
    -fx-background-color: #1ED760;
}

.back-button {
    -fx-background-color: #3E3E3E;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-background-radius: 30;
    -fx-padding: 10 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

.back-button:hover {
    -fx-background-color: #5E5E5E;
}

.info-button {
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-background-radius: 30;
    -fx-padding: 10 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

.info-button:hover {
    -fx-background-color: #5E5E5E;
}

.big-button {
    -fx-background-color: #CCCCCC;
    -fx-font-size: 30px;
    -fx-pref-width: 200px;
    -fx-pref-height: 80px;
}

.playlist-button {
    -fx-background-color: #CCCCCC;
    -fx-font-size: 30px;
    -fx-pref-width: 402px;
    -fx-pref-height: 80px;
}

.song-year {
    -fx-font-size: 18px;
    -fx-text-fill: lightgray;
}

.playlist-container {
    -fx-background-color: black;
}

.playlist-item {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.back-button {
    -fx-text-fill: gray;
}

.fillBlack {
    -fx-background-color: black;
}